<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Destination</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="IMG/spirals.png">
    <style>
        @import url('https://fonts.cdnfonts.com/css/gt-eesti-display-trial');

        .card {
            height: 100%;
            overflow: hidden;
        }

        body {
            font-family: 'GT Eesti Display Trial', sans-serif;
        }

        .card-img-top {
            object-fit: cover;
            height: 250px;
            transition: transform 0.3s ease;
        }

        .card:hover .card-img-top {
            transform: scale(1.1);
            overflow: hidden;
            height: 250px;
        }

        .card-body {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .card-title {
            font-size: 1.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            flex-grow: 1;
        }

        .ah {
            font-family: 'GT Eesti Display Trial', sans-serif;
            background-image: url('IMG/Travel.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 50px 0;
            background-color: #f1f1f1; /* Fallback background color */
            height: 70vh;
            clear: both;
        }
    </style>

</head>
<body>
<div class="head-bar">
    <%- include('./layout/NavBar') %>
</div>
<header class="text-center mb-5 ah"></header>
<section id="all" class="py-5">
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <% allResult.forEach((monument) => { %>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <<a href="/monuments/<%= monument.name %>" target="_blank">
                            <img src="<%= monument.mini_background %>" class="card-img-top" alt="Destination Image">
                        </a>
                        <div class="card-body">
                            <a href="/monuments/<%= monument.name %>" target="_blank">
                                <h5 class="card-title"><%= monument.name %></h5>
                            </a>
                            <p class="card-text"><%= monument.short_description %></p>
                        </div>

                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<div class="footer">
    <%- include('./layout/footer') %>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
